.container {
    width: 500px;
    height: 400px;

    resize: both;
    background-color: #353637;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    font-family: monospace;

    min-width: 400px;
    min-height: 300px;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.resize {
    border: 1px solid black; 
    overflow: auto;
}

.bar {
    color: white;
    height: 25px;

    text-align: center;
    vertical-align: middle;
    line-height: 25px;

    cursor: pointer;
}

.close-button {
    font-size: 11px;
    transition: 0.1s;
    color: rgba(0, 0, 0, 0);;
    background-color: #FF3D49;

    height: 15px;
    width: 15px;

    border-radius: 8px;

    position: absolute;
    left: 10px;
    top: 5px;

    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}

.close-button:hover {
    color: rgba(0, 0, 0, 0.7);;
}

.terminal-title {
    vertical-align: middle;
    display: inline;

    align-items: center;
}

.terminal-title > img{
    position: relative;
    bottom: -2px;
    height: 15px;
    margin-right: 5px;
}