body {
    width: 100vw;
    height: 100vh;
}

.unselectable {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
   }